* {
    box-sizing: border-box;
}
html {
    font-family: $font-family;
    font-size: $font-size;
    color: #222;
}
body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-family: $font-family;
    font-weight: 400;
    color: $color-primary;
}

// Paragraphs
p {
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1em;
}

// Links
a {
    color: $color-primary;
}
