.site-footer {
    padding: 5rem 0;
    font-family: $font-family-heading;
    background-color: #222;
    font-size: 0.875rem;
    text-align: center;

    .menu {
        display: block;
        margin: 1.25rem auto 0
    }
    .menu-item {
        display: inline-block;
        margin-right: 1rem;

        a {
            padding: 2px 4px;
            color: rgba(255,255,255,0.6);
            transition: $transition-base;

            &:hover {
                color: #FFF;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
