.container {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@media (min-width: 768px) {
    .page-wrap {
        width: 70%;
        float: left;
    }
}
