$header-height: 7rem;

.site-header {
    background-color: $color-gray-lightest;
    transition: $transition-base;

    .container {
        display: flex;
        align-items: center;
        height: $header-height;
    }
}

// Sticky header
.sh .site-body {
    padding-top: $header-height;
    background-color: $color-gray-lightest;
}
.sh .site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.sticky {
        position: fixed;
        background: #FFF;
        box-shadow: 0 1px 4px rgba(0,0,0,0.1);
        z-index: 100;
        animation: headerSlide 280ms ease;
        transition: none;

        .site-brand {
            width: 32px;
        }
        .container {
            height: 3.75rem;
        }
    }
}
.sh .admin-bar .site-header {
    top: 32px;
}

@keyframes headerSlide {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.site-brand {
    transition: $transition-base;

    img {
        display: block;
    }

    &:hover {
        transform: rotate(90deg);
    }
}

.site-nav {
    flex: auto;
    display: flex;
    align-items: center;

    .menu {
        list-style: none;
        margin: 0 3rem 0 0;
        padding-left: 0;
    }
    .menu-item {
        display: inline-block;
        margin-left: 1.5rem;
        font-family: $font-family-heading;
        font-size: 0.8125rem;
        color: $color-base;
        text-transform: uppercase;
        transition: $transition-base;

        a {
            color: inherit;
            padding: 0.25rem;
        }

        &:hover {
            color: $color-primary;
        }
    }

    .actions {
        margin-left: auto;
    }
    .action {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 0.25rem;
        margin-left: 0.75rem;
        border-radius: 25px;
        border: 1px solid transparent;

        &:hover {
            svg {
                fill: $color-primary;
            }
        }

        svg {
            display: block;
            fill: #4B4B4B;
            transition: $transition-base;
        }

        .bubble {
            position: absolute;
            left: 100%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            padding: 0 5px;
            height: 16px;
            font-size: 11px;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
            color: #FFF;
            background-color: $color-primary;
            border-radius: 10px;
            text-align: center;
            line-height: 16px;
        }
    }
}

// Compact header
.site-header-compact {
    border-bottom: 1px solid $color-gray-lighter;
    background: #FFF;
    line-height: 48px;

    .btn {
        font-size: 0.8125rem;
    }
}
