.site-header {
    padding: 2.5rem 0;

    .container {
        display: flex;
        align-items: center;
    }
}

.site-brand {
    transition: $transition-base;

    img {
        display: block;
    }

    &:hover {
        transform: rotate(90deg);
    }
}

.site-nav {
    flex: auto;
    display: flex;
    align-items: center;

    .menu {
        list-style: none;
        margin: 0 3rem 0 0;
        padding-left: 0;
    }
    .menu-item {
        display: inline-block;
        margin-left: 1.5rem;

        a {
            color: #666;
            font-size: 14px;
            letter-spacing: 0.25px;
            padding: 0.25rem;
        }
    }

    .actions {
        margin-left: auto;
    }
    .action {
        display: inline-block;
        margin-left: 1.25rem;

        svg {
            display: block;
            fill: #666;
            transition: $transition-base;

            &:hover {
                fill: $color-primary;
            }
        }
    }
}
