.site-header {
    background-color: $color-gray-lightest;
    padding: 2.5rem 0;

    .container {
        display: flex;
        align-items: center;
    }
}

.site-brand {
    transition: $transition-base;

    img {
        display: block;
    }

    &:hover {
        transform: rotate(90deg);
    }
}

.site-nav {
    flex: auto;
    display: flex;
    align-items: center;

    .menu {
        list-style: none;
        margin: 0 3rem 0 0;
        padding-left: 0;
    }
    .menu-item {
        display: inline-block;
        margin-left: 1.5rem;
        font-family: $font-family-heading;
        font-size: 0.8125rem;
        color: $color-base;
        text-transform: uppercase;
        transition: $transition-base;

        a {
            color: inherit;
            padding: 0.25rem;
        }

        &:hover {
            color: $color-primary;
        }
    }

    .actions {
        margin-left: auto;
    }
    .action {
        display: inline-block;
        margin-left: 1rem;

        svg {
            display: block;
            fill: #666;
            transition: $transition-base;

            &:hover {
                fill: $color-primary;
            }
        }
    }
}
