html.sr .app-hero .col > * {
    visibility: hidden; // animated by scroll reveal
}

.app-hero {
    background: $color-gray-lightest;
    padding: 9rem 0 13rem;

    .row {
        align-items: center;
    }
    h1:after {
        content: ".";
    }
    .lead {
        line-height: 1.8;
        max-width: 500px;
    }
    .btn {
        margin-top: 0.625rem;
        margin-right: 1rem;
    }
}

.app-intro {
    margin: 0 auto;
    max-width: 540px;
    text-align: center;

    h2 {
        font-weight: 500;
        font-size: 1.75rem;
    }
    p {
        font-size: 1.125rem;
        font-weight: 500;
        color: #4B4B4B;
    }
}

.app-highlight {
    position: relative;
    color: #FFF;
    background-color: $color-primary;
    overflow: hidden;

    h2 {
        font-weight: 500;
        font-size: 1.5rem;
        margin-bottom: 1rem;

        span {
            display: block;
            font-weight: 700;
            font-size: 2.5rem;
        }
    }
    .btn {
        color: rgba(255,255,255,0.6);

        &:hover {
            color: #FFF;
        }
    }
    .container {
        display: flex;
        height: 400px;
        align-items: center;
        padding-top: 4rem;
        padding-bottom: 4rem;

    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: inherit;
        height: 50px;
        top: 48%;
        left: 0;
        width: 100%;
        transform: skewY(-3deg);
    }
    @include breakpoint-up(md) {
        .container {
            height: 600px;
        }
        &::after {
            height: 120%;
            top: -10%;
            left: 50%;
            width: 52px;
            transform: translateX(-50%) skewX(-5deg);
        }
    }
}
.app-highlight-content {
    @include breakpoint-up(md) {
        max-width: 50%;
        padding-right: 4rem;
    }
    @include breakpoint-up(lg) {
        padding-right: 6rem;
    }
}
.app-highlight-media {
    position: relative;
    height: 420px;
    background: url('../img/banner-hero-sm.jpg') no-repeat center;
    background-size: cover;
    overflow: hidden;

    @include breakpoint-up(md) {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
    }
}
.app-highlight--reverse {
    background-color: $color-base;

    @include breakpoint-up(md) {
        .app-highlight-content {
            margin-left: auto;
            padding-right: 0;
            padding-left: 4rem;
        }
    }
    @include breakpoint-up(lg) {
        .app-highlight-content {
            padding-left: 6rem;
        }
    }
    .app-highlight-media {
        left: 0;
        opacity: 0.5;
        background: #000;

        video {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: auto;
            transform: translate(-50%, -50%);
        }
    }
}

.app-block-title {
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 4rem;

    &::after {
        content: "";
        display: block;
        margin-top: 2rem;
        width: 3rem;
        height: 3px;
        background-color: $color-primary;
    }
}
.app-block-title--center {
    text-align: center;
    margin-bottom: 2.5rem;

    &::after {
        margin-left: auto;
        margin-right: auto;
    }
}

.app-section {
    position: relative;
    padding: 8rem 0;
    background-color: #FFF;
}
.app-section--gray {
    background-color: #F8F8F8;
}
.app-section--compact {
    padding: 5rem 0;
}

.home-feature {
    svg {
        margin-bottom: 1rem;

        .hexagon {
            fill: transparent;
            stroke: $color-base;
            stroke-width: 1.5px;
        }
        .icon {
            &.fill {
                fill: $color-base;
                stroke-width: 0;
            }
            &.stroke {
                fill: none;
                stroke: $color-base;
                stroke-width: 1.5;
            }
        }

        &:hover {
            .hexagon {
                stroke: $color-base;
                fill: $color-base;
            }
            .icon {
                &.fill {
                    fill: #FFF;
                }
                &.stroke {
                    stroke: #FFF;
                }
            }
        }
    }
    h3 {
        font-weight: 500;
        font-size: 1.25rem;
    }
    p {
        font-weight: 500;
        color: #4B4B4B;
    }
}

.home-reviews {
    max-width: 520px;
    margin: 0 auto;
}
.home-review {
    text-align: center;
    letter-spacing: 0.25px;
    outline: 0;

    p {
        color: #4B4B4B;
    }
    strong {
        display: block;
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
}
