.woocommerce-cart {
    .page-body {
        max-width: 800px;
        margin: 0 auto;
        animation: fadeInCart 1000ms ease;
    }

    .shop_table tr {
        border-bottom: 0;
    }
}

@keyframes fadeInCart {
    0%, 10% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.woocommerce-notices-wrapper {
    width: 100%;
}

.woocommerce-cart-form {
    table {
        font-family: $font-family-heading;
        font-weight: 500;
        border: 0;
        margin-bottom: 0;
    }
    thead {
        display: none;
    }
    tr.cart_item {
        border-bottom: $table-border-width solid $table-border-color;
    }
    td, th {
        vertical-align: middle;
    }

    .product-remove {
        text-align: center;
        font-weight: $text-strong-weight;

        a {
            font-size: 1.125rem;
            color: $color-gray-dark;
            padding: 0 4px;

            &:hover {
                color: $color-negative;
            }
        }
    }
    .product-name {
        font-weight: $text-strong-weight;
        a {
            color: $color-base;
        }
    }
    .product-price {
        color: $color-gray-dark;
    }
    .product-thumbnail img {
        display: block;
        max-width: 80px;
        height: auto;
        border-radius: $border-radius-base;
    }

    .button {
        @extend .btn--sm;
        @extend .btn--flat;
        font-size: 13px;
        float: right;

        &:disabled {
            opacity :0;
        }
    }
    input {
        font-size: 15px;
        min-width: 3rem;
        max-width: 8rem;
        float: left;
        margin-right: 0.625rem;
    }

    .coupon {
        display: none;
    }

}

.woocommerce .cart_totals {
    text-align: right;
    max-width: 330px;
    float: right;

    h2 {
        display: none;
    }
    th {
        font-weight: 400;
    }
    td, th {
        border-bottom: 0;
    }
    input {
        @extend .input--sm;
    }
    .checkout-button {
        @extend .btn--primary;
    }
    .order-total {
        display: none;
    }

    .woocommerce-Price-amount {
        font-family: 'Montserrat';
        font-size: 1.5rem;
        line-height: 1.25;
        font-weight: 700;
    }
}

.woocommerce-shipping-destination {
    font-size: 0.8em;
    color: $color-gray-darker;
}
