.woocommerce-checkout {

    .site-header {
        display: none;
    }

    .checkout-column-one,
    .checkout-column-two {
        margin-bottom: 1rem;
    }

    form {
        @extend .clear;

        input, select, textarea {
            font-size: 15px;
        }
        label {
            font-size: 14px;
        }
        .required {
            border: 0;
            color: $color-negative;
            font-weight: 500;
            text-decoration: none;
        }
    }

    @include breakpoint-up(lg) {
        .site-body {
            background: linear-gradient(to right, #FFF 50%, #F8f8F8 50%);
        }
        .blockOverlay {
            background-color: #f8f8f8!important;
        }
        .woocommerce-NoticeGroup,
        .checkout-column-one,
        .checkout-coupon {
            float: left;
            width: 44%;
            clear: left;
        }
        .checkout-column-two {
            float: right;
            width: 44%;
            clear: right;
        }
    }

}

.woocommerce-billing-fields {
    h3 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
}

#ship-to-different-address {
    margin-top: 1rem;

    input {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-right: 0.25rem;
    }
    span {
        font-family: $font-family-base;
        font-size: 15px;
        text-transform: none;
        font-weight: 400;
    }
}
.shipping_address {
    display: none;
    padding: 1rem 1rem 0.25rem;
    margin-bottom: 1rem;
    background: darken($color-gray-lightest, 2%);
    border-radius: $border-radius-base;
    @extend .clear;
}

#billing_first_name_field,
#billing_postcode_field,
#shipping_first_name_field,
#shipping_postcode_field {
    float: left;
    width: 47%;
}
#billing_last_name_field,
#billing_city_field,
#shipping_last_name_field,
#shipping_city_field {
    float: right;
    width: 47%;
}
#billing_company_field,
#billing_country_field,
#billing_address_2_field,
#shipping_country_field {
    display: none!important;
}

#order_review_heading {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.woocommerce-checkout-review-order-table {
    tr {
        border-bottom: 0;
    }
    td {
        vertical-align: middle;
    }
    td:last-child {
        text-align: right;
    }
    thead {
        display: none;
    }
    tfoot {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: $table-border-width solid $table-border-color;
    }
    .product-item-thumbnail {
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem;
    }
    .order-total .amount {
        font-size: 1.25rem;
        line-height: 1;
        font-family: $font-family-heading;
        font-weight: 700;
    }
}
.checkout-coupon {
    .woocommerce-info {
        background-color: transparent;
        color: $color-base;
        padding: 0;

        a {
            color: $color-primary;
        }
    }
}
.wc_payment_methods {
    margin: 0 0 1rem;
    padding: 0;
    list-style: none;
    border: 1px solid $color-gray-light;
    border-radius: 3px;
    background: #FFF;
}
.wc_payment_method {
    padding: .625rem 1rem;
    border-bottom: 1px solid $color-gray-light;

    .payment_box {
        position: relative;
        font-size: .875rem;
        margin-top: .5rem;
        color: $color-gray-darkest;
    }
    .input-radio {
        margin-right: 0.5rem;
    }
    label {
        cursor: pointer;
        margin-bottom: 0;
    }
    img {
        margin-left: 0.5rem;
        vertical-align: middle;
    }

    &:last-child {
        border-bottom: 0;
    }
}
.woocommerce-terms-and-conditions-wrapper {
    font-size: 13px;
    color: $color-gray-darker;
}
#place_order {
    @extend .btn--primary;
    @extend .btn--lg;
    margin-top: 1rem;
}
