.screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    word-wrap: normal;
}

.woocommerce-page .site-header {
    background-color: $color-gray-lightest;
}

.shop_table, .shop_attributes {
    @extend .table;

    td:first-child, th:first-child {
        padding-left: 0;
    }
    td:last-child, th:last-child {
        padding-right: 0;
    }
}

.woocommerce-message {
    @extend .msg;
    @extend .msg--positive;

    .button {
        @extend .btn--sm;
        @extend .btn--flat;
        font-size: 13px;
        margin-right: 0.625rem;
    }
}

.woocommerce-error {
    @extend .msg;
    @extend .msg--negative;
    margin-top: 0;
    list-style: none;

    .button {
        @extend .btn--sm;
        @extend .btn--flat;
        font-size: 13px;
        margin-right: 0.625rem;
    }
}

.woocommerce-info {
    @extend .msg;
    @extend .msg--info;
}

.woocommerce {
    font-size: $font-size-base - 1px;

    .input-text {
        @extend .input;
    }
    .input-radio {
        @extend .input-check;
    }
    .button {
        @extend .btn;
        text-transform: none;
    }
    strong, label {
        font-weight: $text-strong-weight;
    }
}

.woocommerce-shipping-methods {
    list-style: none;
    margin: 0;
    padding: 0;

    label[for~='shipping_method_0_free_shipping1'] {
        color: $color-primary;
    }
}

.woocommerce-Price-currencySymbol {
    margin-right: 0.25em;
}

.woocommerce .quantity {
    display: inline-flex;

    .qty-down {
        border-radius: $button-border-radius 0 0 $button-border-radius;
    }
    .qty-up {
        border-radius: 0 $button-border-radius $button-border-radius 0;
    }
    button {
        border-color: $color-gray-light;
        background-color: #FFF;

        &:focus,
        &:hover {
            border-color: $input-hover-border-color;
        }
    }
    input {
        width: 3.75rem;
        margin-left: -1px;
        margin-right: -1px;
        text-align: center;
        appearance: textfield;
        border-radius: 0;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        &:hover, &:focus {
            z-index: 1;
        }
    }
}
